body {
  background: url(./Img/back4.jpg);
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  margin-right: 10px;
  width: 300px;

}
